
html { scroll-behavior: smooth; }

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;
    background-color: #ffffff;
}

.page-container { padding: 30px; }

.all-rows {
    display: flex;
    justify-content: space-between;
}

.row-left {
    width: 50%;
    margin-right: 40px;
}
.row-right {
    width: 50%;
}

.wheel-sign-container {
    margin-bottom: 10px,
}

.wheel-sign {
    background-color: #0a0505;
    width: 100%;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px,
}

.tab {
    background-color: #0a0505;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin: 10px;
}

.white-text {
    color: white;
}

.tab:hover {
    cursor: pointer;
}
